# define files/directories that won't be exported in an sdist
# Keep in sync with MANIFEST.in
.github/ export-ignore
buildconfig/macdependencies/ export-ignore
buildconfig/manylinux-build/ export-ignore

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.pre-commit-config.yaml export-ignore
