# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  linux-arm-wheels:
    working_directory: ~/linux-wheels
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true

    resource_class: arm.medium

    environment:
      # these environment variables will be passed to the docker container
      - CIBW_ARCHS: aarch64
      - CIBW_MANYLINUX_AARCH64_IMAGE: manylinux2014_base_aarch64
      - CIBW_MANYLINUX_PYPY_AARCH64_IMAGE: manylinux2014_base_aarch64

    steps:
      - checkout
      - run:
          name: Build the aarch64 base image (and cache it)
          working_directory: buildconfig/manylinux-build/docker_base
          command: docker build -t manylinux2014_base_aarch64 -f Dockerfile-aarch64 .

      - run:
          name: Build the Linux wheels.
          command: |
            pip3 install --user cibuildwheel==2.20.0
            PATH="$HOME/.local/bin:$PATH" cibuildwheel --output-dir wheelhouse

      - store_artifacts:
          path: wheelhouse/

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  build-arm:
    when:
      equal: [ "", << pipeline.parameters.GHA_Actor >> ]
    jobs:
      - linux-arm-wheels

  # run a separate, identical release job only if triggered
  build-arm-release:
    when:
      not:
        equal: [ "", << pipeline.parameters.GHA_Actor >> ]
    jobs:
      - linux-arm-wheels
