recursive-include buildconfig *
recursive-include docs *
recursive-include src_py *
recursive-include src_c *
recursive-include examples *
recursive-include test *

recursive-exclude buildconfig/manylinux-build *
recursive-exclude buildconfig/macdependencies *
recursive-exclude buildconfig/stubs/.mypy_cache *

include README.rst
include meson_options.txt
include meson.build
include pyproject.toml

global-exclude *.pyc
