name: Windows

# Run CI only when a release is created, on changes to main branch, or any PR
# to main. Do not run CI on any other branch. Also, skip any non-source changes
# from running on CI
on:
  push:
    branches: main
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '.gitignore'
      - '*.rst'
      - '*.md'
      - '.github/workflows/*.yml'
      # re-include current file to not be excluded
      - '!.github/workflows/build-windows.yml'

  pull_request:
    branches: main
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '.gitignore'
      - '*.rst'
      - '*.md'
      - '.github/workflows/*.yml'
      # re-include current file to not be excluded
      - '!.github/workflows/build-windows.yml'

  # the github release drafter can call this workflow
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-windows
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.winarch }}
    runs-on: windows-latest
    strategy:
      fail-fast: false  # if a particular matrix build fails, don't skip the rest
      matrix:
        include:
          - { winarch: AMD64, msvc-dev-arch: x86_amd64 }
          - { winarch: x86, msvc-dev-arch: x86 }

    env:
      CIBW_ARCHS: ${{ matrix.winarch }}

    steps:
      - uses: actions/checkout@v4.2.2

      - uses: TheMrMilchmann/setup-msvc-dev@v3  # this lets us use the developer command prompt on windows
        with:
          arch: ${{ matrix.msvc-dev-arch }}

      - name: Install uv for speed
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.26"

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v2.23.0

      - uses: actions/upload-artifact@v4
        with:
          name: pygame-wheels-windows-${{ matrix.winarch }}
          path: ./wheelhouse/*.whl
          compression-level: 0  # wheels are already zip files, no need for more compression
