name: Windows

# Run CI only when a release is created, on changes to main branch, or any PR
# to main.
on:
  push:
    branches: main

  pull_request:
    branches: main

  # the github release drafter can call this workflow
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-windows
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.winarch }}
    runs-on: windows-latest
    strategy:
      fail-fast: false  # if a particular matrix build fails, don't skip the rest
      matrix:
        include:
          - { winarch: AMD64, msvc-dev-arch: x86_amd64 }
          - { winarch: x86, msvc-dev-arch: x86 }

    env:
      CIBW_ARCHS: ${{ matrix.winarch }}

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: TheMrMilchmann/setup-msvc-dev@v4  # this lets us use the developer command prompt on windows
        with:
          arch: ${{ matrix.msvc-dev-arch }}

      - name: Install uv for speed
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.2"

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v3.2.1

      - uses: actions/upload-artifact@v6
        with:
          name: pygame-wheels-windows-${{ matrix.winarch }}
          path: ./wheelhouse/*.whl
          compression-level: 0  # wheels are already zip files, no need for more compression
