name: Build WASM (Emscripten)

# Run CI only on changes to main branch, or any PR to main. Do not run CI on
# any other branch. Also, skip any non-source changes from running on CI
on:
  push:
    branches: main
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '.gitignore'
      - '*.rst'
      - '*.md'
      - '.github/workflows/*.yml'
      # re-include current file to not be excluded
      - '!.github/workflows/build-emsdk.yml'

  pull_request:
    branches: main
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '.gitignore'
      - '*.rst'
      - '*.md'
      - '.github/workflows/*.yml'
      # re-include current file to not be excluded
      - '!.github/workflows/build-emsdk.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-emsdk
  cancel-in-progress: true

jobs:
  build-pygbag:
    runs-on: ubuntu-22.04
    env:
      # pin SDK version to the latest, update manually
      SDK_VERSION: 3.1.61.12bi
      SDK_ARCHIVE: python3.13-wasm-sdk-Ubuntu-22.04.tar.lz4
      SDKROOT: /opt/python-wasm-sdk
      PYBUILD: 3.13

    steps:
    - uses: actions/checkout@v6.0.0

    - name: Install python-wasm-sdk
      run: |
        sudo apt-get install lz4
        curl -sL --retry 5 https://github.com/pygame-web/python-wasm-sdk/releases/download/$SDK_VERSION/$SDK_ARCHIVE | tar xvP --use-compress-program=lz4
      working-directory: /opt

    - name: Build WASM with emsdk
      run: ${SDKROOT}/python3-wasm dev.py build --wheel

    # Upload the generated files under github actions assets section
    - name: Upload dist
      uses: actions/upload-artifact@v5
      with:
        name: pygame-wasm-dist
        path: ./dist/*

  build-pyodide:
    name: Pyodide build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.0

    - uses: pypa/cibuildwheel@v3.2.1
      env:
        CIBW_PLATFORM: pyodide

    - uses: actions/upload-artifact@v5
      with:
        name: pyodide-wheels
        path: wheelhouse/*.whl
