name: PyPI Release

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v3.5.3

      - name: Pull all release assets
        uses: robinraju/release-downloader@v1.8
        with:
          releaseId: ${{ github.event.release.id }}
          fileName: "*"
          tarBall: false
          zipBall: false
          out-file-path: "dist"

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
