name: Draft Github Release

on:
  push:
    branches: 'release/**'

jobs:
  manylinux:
    uses: ./.github/workflows/build-manylinux.yml

  macos:
    uses: ./.github/workflows/build-macos.yml

  windows:
    uses: ./.github/workflows/build-windows.yml

  sdist:
    uses: ./.github/workflows/build-ubuntu-sdist.yml

  draft-release:
    needs: [manylinux, macos, windows, sdist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: write

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          path: pygame-wheels
          merge-multiple: true

      # Strips 'release/' from the ref_name, this helps us access the version
      # name as 'steps.ver.outputs.VER'
      - name: Get version
        id: ver
        run: echo "VER=${GITHUB_REF_NAME#'release/'}" >> $GITHUB_OUTPUT

      - name: Generate release attestation
        uses: actions/attest-build-provenance@v3.2.0
        with:
          subject-path: "pygame-wheels/*"

      - name: Draft a release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: ${{ contains(steps.ver.outputs.VER, 'dev') }}
          files: pygame-wheels/*
          name: '${{ steps.ver.outputs.VER }} - {TODO put a title here} [DRAFTED BY CI]'
          tag_name: ${{ steps.ver.outputs.VER }}
          target_commitish: ${{ github.ref_name }}
          generate_release_notes: true
